# Angular
/compiled
*.metadata.json
*.ngsummary.json
package-lock.json

# Node
node_modules/*
npm-debug.log

# TypeScript
typings
*.js
*.map
*.d.ts

# JetBrains
.idea
.project
.settings
.idea/*
*.iml

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store
